<div class="container" style="margin: 2.5rem auto;">
    <div class="">
        <div class="questionCount">
            <!-- react-text: 8 -->Question
            <!-- /react-text --><span>1</span><!-- react-text: 10 --> of
            <!-- /react-text --><span>5</span></div>
        <h2 class="question">What franchise would you rather play a game from?</h2>
        <ul class="answerOptions">
            <li class="answerOption"><input type="radio" class="radioCustomButton" name="radioGroup" id="Sony"
                    value="Sony"><label class="radioCustomLabel" for="Sony">Uncharted</label></li>
            <li class="answerOption"><input type="radio" class="radioCustomButton" name="radioGroup" id="Microsoft"
                    value="Microsoft"><label class="radioCustomLabel" for="Microsoft">Halo</label></li>
            <li class="answerOption"><input type="radio" class="radioCustomButton" name="radioGroup" id="Nintendo"
                    value="Nintendo"><label class="radioCustomLabel" for="Nintendo">Pokemon</label></li>
        </ul>
    </div>
</div>